*{margin:0;padding:0;box-sizing:border-box;font-family:"Be Vietnam Pro",sans-serif}
body{background:#0b0b0f;color:white;overflow:hidden}

/* sao */
#stars{
position:fixed;
inset:0;
z-index:-2;
}

/* chat */
.chat{
position:fixed;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
pointer-events:none;
}

#bubble{
max-width:320px;
background:rgba(255,255,255,.06);
backdrop-filter:blur(14px);
border-radius:18px;
padding:18px 22px;
line-height:1.6;
font-size:15px;
opacity:0;
transform:translateY(20px);
transition:1s;
}

#bubble.show{
opacity:1;
transform:translateY(0);
}

/* tim */
#heartCanvas{
position:fixed;
inset:0;
pointer-events:none;
}

/* áº£nh tim */
.photo{
position:absolute;
width:70px;
height:70px;
object-fit:cover;
border-radius:12px;
opacity:0;
transform:scale(.3);
transition:1.8s cubic-bezier(.19,1,.22,1);
box-shadow:0 10px 30px rgba(0,0,0,.5);
}

.photo.show{
opacity:1;
transform:scale(1);
}

